*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #e03737;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 10px;
    font-size: 20px;
}
body {
        font-family: "Agdasima", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .agdasima-bold {
        font-family: "Agdasima", sans-serif;
        font-weight: 700;
        font-style: normal;
      }